.git
.gitignore
.env
.env.example
.phpunit.result.cache
docker-compose.yml
Dockerfile
README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
node_modules
tests
phpunit.xml
.editorconfig
